<acw-wrapper [state]="state">
    <div class="invoice-list_wrapper">
        <div class="invoice-list_axtion-row" dir="rtl">            
            <p-button label="New" styleClass="p-button-success" [routerLink]="['./new']"></p-button>
        </div>
        <p-table 
            [value]="invoices" 
            *ngIf="invoices"
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5, 10, 25]">
            <ng-template pTemplate="header">
                <tr>    
                    <th>#</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-invoice>
                <tr>
                    <td>{{ invoice.id }}</td>
                    <td>{{ invoice.date | date:'mediumDate' }}</td>
                    <td>{{ invoice.amount }}</td>
                    <td>{{ invoice.status }}</td>
                    <td>
                        <p-button 
                            icon="pi pi-pencil" 
                            styleClass="p-button-rounded p-button-text p-button-sm"
                            [routerLink]="['./'+ invoice.id]">
                        </p-button>
                        <p-button 
                            icon="pi pi-trash" 
                            styleClass="p-button-rounded p-button-danger p-button-text p-button-sm"
                            (onClick)="onDeleteHandler(invoice.id)"
                        >
                        </p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>
    </div>
</acw-wrapper>